{% load static %}
<footer class="footer d-flex mt-4">
    <div class="d-flex flex-sm-row flex-column my-5 justify-content-between container-fluid container-xxl">
        <div class="">
            <div class="footer-title mb-sm-4 mb-3">
                Покупцям
            </div>
        </div>
        <div class="">
            <div class="footer-title mb-sm-4 mb-3">
                Інформація
            </div>
            <div class="footer-links d-flex flex-column mb-sm-0 mb-3">
                <a target="_blank" href="" class="mb-sm-3 mb-2">Про нас</a>
                <a target="_blank"
                   href="https://www.google.com/maps/search/nexus+gaming+store/@29.7112064,-95.8124712,4z/data=!3m1!4b1?entry=ttu"
                   class="">Наші магазини</a>
            </div>
        </div>
        <div class="">
            <div class="footer-title mb-sm-4 mb-3">
                Графік роботи
            </div>
            <div class="footer-links d-flex flex-column mb-sm-0 mb-3">
                <div class="mb-sm-3 mb-2">Пн-Пт: 10:00-19:00</div>
                <div class="mb-sm-3 mb-2">Сб: 10:00-18:00</div>
                <div class="">Нд: Вихідний</div>
            </div>
        </div>
        <div class="">
            <div class="footer-title mb-sm-4 mb-3">
                Контакти
            </div>
            <div class="footer-links d-flex flex-column mb-sm-0 mb-3">
                <div class="mb-sm-3 mb-2">+380688935000</div>
                <div class="">+380686556000</div>
            </div>
        </div>
        <div class="">
            <div class="footer-title mb-sm-4 mb-3">
                Ми у соц. мережах
            </div>
            <div class="footer-links d-flex flex-row mb-sm-0 mb-3">
                <a href="" class="network p-0 me-3">
                    <img src="{% static 'img/inst-ico.svg' %}" alt="inst-link" class="image-fluid w-100">
                </a>
                <a href="" class="network p-0 me-3">
                    <img src="{% static 'img/youtube-ico.svg' %}" alt="youtube-link" class="image-fluid w-100">
                </a>
                <a href="" class="network p-0">
                    <img src="{% static 'img/facebook-ico.svg' %}" alt="facebook-link" class="image-fluid w-100">
                </a>
            </div>
        </div>
    </div>
</footer>